<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="mainSite.master.cs" Inherits="NBE.mainSite" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href ="bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src ="bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
    <link href="Styles/site.css" rel="stylesheet" />
     <link href="Styles/general.css" rel="stylesheet" />
     <link href="Styles/grids.css" rel="stylesheet" />
     <link href="Styles/buttons.css" rel="stylesheet" />
    <script type ="text/javascript">
        window.addEventListener('pageshow', function (event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
    <asp:ContentPlaceHolder ID="CPH_head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <table class="layout-table">
            <tr>
                <td class="header-bar">
                    <img alt="NBE logo" class="auto-style3" src="src/images/NBELogo.jpeg" />&nbsp; 
                    <div style="font-size:small; width: 182px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NBE Banking system</div> 
                </td>
            </tr>
            <tr>
               <td class="sidebar">
            <asp:ContentPlaceHolder ID="CPH_menu" runat="server">
            </asp:ContentPlaceHolder>
                </td>
                <td class="page-content">
            <asp:ContentPlaceHolder ID="CPH_content" runat="server">
            </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td class="auto-style2">
                    <asp:Button ID="logOut" runat="server" CausesValidation="False" CssClass="logout-btn" OnClick="logOut_Click" Text="Log Out" />
                </td>
                <td class="footer"><center>Copyrights reserved for NBE @ 2026</center></td>
            </tr>
        </table>
    </form>
</body>
</html>
